<div class="container">
  <div class="d-flex justify-content-between align-items-center mb-4">
    <h1>Users</h1>
    <%= link_to 'New User', new_user_path, class: 'btn btn-outline-primary' %>
  </div>

  <table class="table table-striped">
    <thead class="thead-dark">
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Wallet Balance</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td><%= user.name %></td>
          <td><%= user.email %></td>
          <td><%= number_to_currency(user.wallet.balance) %></td>
          <td>
            <%= link_to 'Show', user, class: 'btn btn-info btn-sm' %>
            <%= link_to 'Edit', edit_user_path(user), class: 'btn btn-warning btn-sm' %>
            <%= link_to 'Delete', user, method: :delete,
                      data: { confirm: 'Are you sure?' },
                      class: 'btn btn-danger btn-sm' %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <div class="d-flex justify-content-center mt-4">
    <%= paginate @users %>
  </div>
</div>
